header, nav, main, footer{
    max-width: 60rem;
    margin: auto;
}

/*Navigation stuff goes here*/

nav {
    button { display: none; }
    ul, ul.open {
        margin-left: 2vw;
        display: flex;
        justify-content: center; /* keep items centered on large screens */
        border: none;
        li { border: none; }
    } //end ul

} //end nav

/* The hamburger lives in the header (#hamburgerButton) Hide it on large screens */
header {
    #hamburgerButton { display: none; }
}

.allcards {
    section{
        flex-basis: calc(33.333% - (($gutter*2)/3))
    }
}

footer div {
    display: grid;
    grid-template-columns: auto auto auto;
}
    