$primaryColor: #FFD700;
$secondaryColor: #1a1a1a;
$fontColor: #f5f5f5;

$defaultFont: 'Barlow', sans-serif;
$secondaryFont: 'Orbitron', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 16px;